<% @products.each do |product| %>
  <a href="/client/products/<%= product['id'] %>"><h1><%= product["name"] %></h1></a>
  <p>Description: <%= product["description"] %></p>
  <h4>Price: <%= product["formatted"]["price"] %></h4>
<% end %>
